[submodule "osf.io"]
	path = osf.io
	url = https://github.com/CenterForOpenScience/osf.io.git
[submodule "waterbutler"]
	path = waterbutler
	url = https://github.com/CenterForOpenScience/waterbutler.git
