[submodule "mfr"]
	path = mfr
	url = https://github.com/CenterForOpenScience/modular-file-renderer.git
[submodule "waterbutler"]
	path = waterbutler
	url = https://github.com/CenterForOpenScience/waterbutler.git
[submodule "osf.io"]
	path = osf.io
	url = https://github.com/CenterForOpenScience/osf.io.git
